/****** PLACE YOUR CUSTOM STYLES HERE ******/
.btn-flat {
    border-radius: 0px !important;
}
.text-padding{
    padding: 0px;
    position: relative;
}
.btn-lg-a{
    height: 50px;
    line-height: 46px;
    min-width: 50px;
}
.einfach,
.automatisene{
    width: 200px;
    position: absolute;
}
.einfach{
    top: 70%;
    left:-3%;
}
.automatisene{
    top: -35%;
    left: 10%;
}